* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    font-family: Helvetica, sans-serif;
}

/* Navbar section */

#navbar {
    width: 100%;
    position: fixed;
    background-color: #e63946;
}

#navbar ul {
    font-size: 22px;
    padding: 22px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    color: #edf2f4;
    text-decoration: none;
    padding: 23px 25px;
}

#navbar a:hover {
    background-color: #4a4e69;
}


/* Welcome section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    height: 100vh;
    letter-spacing: 1px;
}

#welcome-section h1 {
    color: #fff;
    font-size: 55px;
    padding-bottom: 10px;
}

#welcome-section p {
    color: #c1121f;
    font-size: 26px;
    font-style: italic;
    font-weight: lighter;
}

/* Projects section */

#projects {
    background-color: #3a6ea5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h2 {
    max-width: 90vw;
    margin: 45px 0 2px 0;
    color: #fff;
    font-size: 38px;
    text-align: center;
    border-bottom: 1.5px solid #fff;
}

#projects .grid {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.project {
    margin: 25px; 
    text-align: center;
}

#projects .project a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    transition: color .2s ease-in-out;
}

#projects .project a:hover {
  color: #ffe5d9;
}

#projects .project a img {
    width: 98%;
    vertical-align: middle;
} 

#projects .project .project-title {
    width: 98%;
    background-color: #003049;
    padding: 25px 5px;
    margin: auto;
}


/* Contact section */

#contact {
    background-color: #353535;
    color: #fff;
    height: 80vh;
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid red;
}

#contact h2 {
    font-size: 50px;
    text-align: center;
}

#contact p {
    margin-top: 15px;
    font-style: italic;
}

#contact ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}

#contact ul li {
    list-style-type: none;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact ul li:hover {
    transform: translateY(-0.25em);
    transition: 0.35s;
}

#contact ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding-left: 5px;
}

/* Footer */

footer {
    background-color: #353535;
    height: 12vh;
    margin-top: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 640px) {
    #projects {
        width: 100%;
    }

    #projects .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #projects .grid .project {
        width: 40%;
    }
}

@media only screen and (min-width: 992px) {
    #projects .grid .project {
        width: 28%;
        margin: 15px;
    }
}